
//font weights
$bold: 700;
$semibold: 600;
$medium: 500;
$light: 400;


//colors
$red : #AE3035;
$black: #000000;
$white: #ffffff;
$gray: #999999;
$darkGray: #161616;
$lightGray: #BBBBBB;


//responsive width
$breakTablet: 767px;